#imagesID{
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  align-items: center;
}
#mpaPanel{
  display: flex;
  flex-direction: column;
}
 #map {
   position: cover;
   top:0; bottom:0;
   right:0;
   left:0;
   width: 100%;
   height: 600px;
 }
 #graphs{

 }
