#imagesID{
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  align-items: center;
}
#mpaPanel{
  display: flex;
  flex-direction: column;
}
 #map {
   position: cover;

   width: 100%;
   height: 600px;
 }
 #graphs{
   width: 100%;
   height:100%;
 }
#addSoapIdCentering{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
}
#addSoapIdCentering img{
    width: 10%;
    height: 25%;
}

#ghs{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* #selectId{
  width: 10%;
} */

#geoserverEndpoint, #geoServerWorkspace{
  width: 100%;
}
#submitGeoserver{
  width: 100%;
}
#inner-app-content{
  padding: 0px;
}
#upload_button{
  width: 100%;
}
label{
    display: inline-block;
    width: 100%;
}
img#loadingimg{
    width: 100%;
    height: 100%;
    display: none;
}
