{% extends "timeseriesapp/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
{% url 'timeseriesapp:home' as home_url %}
{% url 'timeseriesapp:api' as api_url %}
{% url 'timeseriesapp:geoserver' as geoserver_url %}
{% url 'timeseriesapp:csv' as csv_url %}
<li class="title">TimeSeries Options</li>

<li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Instructions</a></li>
<li class="{% if request.path == api_url %}active{% endif %}"><a href="{{ api_url }}">Using API (Marker and Polygon)</a></li>
<li class="{% if request.path == geoserver_url %}active{% endif %}"><a href="{{ geoserver_url }}">Using Geoserver </a></li>
<li class="{% if request.path == csv_url %}active{% endif %}"><a href="{{ csv_url }}">Uploading a Csv to retrieve data</a></li>
<br>
<br>
  <div id="selectId">
    <p>Play with Geoserver Layers</p>
    <p>Please enter the Geoserver endpoint and the name of the workspace, and press the button to update the map to display
    the new geoserver endpoint</p>
    <label for="fname">Geoserver Endpoint:</label>
    <p>(e.g.) https://tethys2.byu.edu/geoserver/colombia_hydroviewer/wms</p>
    <input type="text" id="geoserverEndpoint" name="geoserverEndpoint">
    <label for="fname">Geoserver Workspace:</label>
    <p>(e.g.) IDEAM_Stations_v2</p>

    <input type="text" id="geoServerWorkspace" name="geoServerWorkspace">
    <br>
    <br>
    <button id= "submitGeoserver" type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>

  </div>
{% endblock %}

{% block app_content %}
<div id="mpaPanel">
  <div id="map"></div>
  <div id="ghs">
    <div id="addSoapIdCentering">
      <h2>Oops, you need to select a feature ..</h2>
      <img src="{% static 'timeseriesapp/images/nodata.png' %}" alt="">
    </div>
  </div>
</div>

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Geoserver Option</h5>
        </div>
        <div class="modal-body">
          <p> This page illustrates how to use the different layers from a Geoserver. The type of layer that will be demonstrated will be the WMS alyer, but there is
          more web services that can be provided by Geoserver such as WFS that lets the user to have access to the layer attributes and values. The map shows the stations
          of IDEAM,(Institute of Hydrology, Meteorology and Environmental Studies) of Colombia. These points when clicked display time series. Therefore. this is an example of
          how time series can eb linked to shapefiles that are uploaded to a geoserver in a web applicacion. Finally, in the left corner there is a little menu to place different Geoserver
          endpoints and workspaces, so the layer in the map will display the new layer after the button with the check mark is pressed. The map will display the layer that has entered in the input textboxes.</p>
            <p><em>Note: follow the structure that is prompt to avoid errors.</em></p>
          <p>Steps</p>
          <ul>
            <li> Enter the Geoserver Endpoint</li>
            <li> Enter the Geoserver Workspace</li>
            <li> Press the button and wait</li>
            <li> Click in an attribute to display a time series</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}

{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script>
    var endpointGeoServer = "{{ endpoint|safe }}";
    var geoServerWorkspace = "{{ workspace|safe }}";
  </script>

  <script src="{% static 'timeseriesapp/js/L.TileLayer.BetterWMS.js' %}" type="text/javascript"></script>
  <script src="{% static 'timeseriesapp/js/geoserver.js' %}" type="text/javascript"></script>
{% endblock %}
