{% extends "timeseriesapp/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
<h1> Time Series Applications Descriptions</h1>
<p> This Tethys application is for demo purposes in the different ways in which one can retrieve time series from different data sources. Some of these data sources includes, but are not limited to:</p>
<ul>
  <li><p>Application programming interface (API)</p></li>
  <li><p>Csv Files</p></li>
  <li><p>Web Services Data</p></li>
</ul>
<p>The following image summarizes the purpose of the application as a application to teach teh retrieval of times series from different sources to geometric features:</p>
<br>
<div id="imagesID">
  <img src="{% static 'timeseriesapp/images/expla2.png' %}" alt="">
</div>
<br>
<p>The TimeSeries app will show the same escenario for the different data sources of the time series. A map will be displayed with markers and Polygons, and time series will be added to such gemoetric features
using the different data sources: API, Csv, JSON, Web Services. In other words, each gemotric feature will be assigned to a time serie from different data sources depending on the scenario. The API data source will retrieve
time series for a REST and SOAP API, so the polygon and point features will be asigned time series from these data sources. Similarly, the data uploaded from a Csv formats will be assigned to a marker and polygon
to display Time series. Finally, data from Geoservers can be assigned to a marker or polygon to display time series.
</p>
<p>
Each one of the tabs in the left has the different cases mentioned above. Each page is intuitive and easy to use, so just follow the isntructions when you get to each one of the pages that
show how to assign time series to geometric features from different data sources.
</p>

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->

{% endblock %}

{% block app_actions %}

{% endblock %}
